body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3e0ee;
    flex-direction: column;
    gap: 10px;
}


#game_container{
    top: 10vh;
    position: relative;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    overflow: hidden;
    background-image: url("game_elements/space_background.gif");
    background-position: center;
    background-size: 900px 900px;
    
}

#choices_container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;

}

#choice_one, #choice_two, #choice_three{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#box_one, #box_two, #box_three{
    transition-property: translate;
    transition-duration: 0.2s;
    background-image: url('game_elements/redsolo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.lift{
    transition-property: translate;
    transition-duration: 0.2s;
    translate: 0px -150px;

}

#hover_one,#hover_two,#hover_three{
    width: 90%;
    height: 90%;
    opacity: 0%;
    background-color: red;
}

.bonbon{
    max-width: 150px;
    max-height: 150px;
    position: absolute;
}

@keyframes shake {

    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(10px);
    }

    100%{
        transform: translateX(-10px);
    }
}

.shake{
    animation: shake;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;

}



.after_screen_show{
    transition-property: opacity;
    transition-duration: 1s;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.after_screen_hide{
    position: absolute;
    opacity: 0%;
    transform: translateY(500px);
}

#result_display{
    position: absolute;
    color: #047bfb;
    top: 100px;
    font-size: 50px;
    
}

#reset_button{
    font-size: 20px;
    position: absolute;
    bottom: 190px;
    width: 150px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 2em
}

#winStreak{
    position: relative;
    top: 10vh;
    min-width: 180px;
    padding: 10px;
    border: #e5395d solid 4px;
    border-radius: 2em;
    color: #e5395d;
}

@font-face {
    font-family: space;
    src: url(Space\ Adventure.ttf);
}

*{
    font-family: space;
}

@media screen and (max-width: 600px) {
    #game_container{
        width: 90vw;

    }    

    #choices_container{
        transform: scale(0.5);
    }
}